body{

    margin: 0;
    padding: 0;
}

.menu
{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(96,0,0);
}

.menu a
{
 color: white;
 font-size: 20px;
}

.conteudo
{
    width: 700px;
    border: 1px solid rgb(96,0,0);
    border-radius: 10px;
    margin: 10px auto;
    box-shadow: 5px 5px 10px rgb(97, 0, 0);
    padding: 10px;
}

.conteudo input[type=text]
{
   width: 100%;
   box-sizing: border-box;
   padding: 5px;
   font-size: 20px;
}

.conteudo input[type=submit]
{
  width: 150px;
  padding: 10px;
  background-color: rgb(96,0,0);
  color: white;
  font-size: 20px;
  border: none;
}

table, td, th
{
  border: 1px solid rgb(96,0,0);
  border-collapse: collapse;
  padding: 5px;
}

th
{
  background-color: rgb(96,0,0);
  color: white;
}

table
{
  width: 100%;
}